<a href="https://colab.research.google.com/github/AlienX77-cmd/Python-for-Business-and-Finance/blob/main/Exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding Exercises (Part 1)

Now, you will have the opportunity to practice what you have learned. <br>
__Follow the instructions__ and insert your code!

The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need some help or if you want to check your code, you can also have a look at the __solutions__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Exercise 4: Tuples, Dictionaries, Strings, Booleans & Operators

1. __Create and save a tuple__ with the elements 100, 0.03 and 103!

In [1]:
tup = (100, 0.03, 103)

In [2]:
tup

(100, 0.03, 103)

2. __Index__ the tuple for the second element (0.03)

In [3]:
tup[1]

0.03

3. Try to __change__ the third element to 106.09. Are tuples __mutable__?

In [4]:
tup[3] = 106.09

TypeError: ignored

4. Create and save a __dictionary__ with two Country/Capital Pairs of your choice (e.g. France/Paris)

In [5]:
dic = {"France": "Paris", "USA": "Washington D.C."}

5. __Return__ the Capital for one country of your choice.

In [6]:
dic["USA"]

'Washington D.C.'

6. __Iterate__ over your dictionary and __print__ for each key, value pair the following statement: __"XYZ is the capital of ABC:". Use string replacement!__

In [11]:
for key, value in dic.items():
  print("{} is the capital of {}".format(value, key))

Paris is the capital of France
Washington D.C. is the capital of USA

7. __Save__ the following string in memory: "US growth rate eases to 1.9% in the third quarter."

In [12]:
string = "US growth rate eases to 1.9% in the third quarter."

In [14]:
string

'US growth rate eases to 1.9% in the third quarter.'

8. __Index__ the string for the second last character.

In [15]:
string[-2]

'r'

9. Convert the string to __uppercase__. __Reassign__ your variable!

In [17]:
string = string.upper()

In [18]:
string

'US GROWTH RATE EASES TO 1.9% IN THE THIRD QUARTER.'

9. Check whether __a is greater than b__.

In [20]:
# run the cell!
a = 5**12
b = 4564 * 56750

In [21]:
a > b

False

In [27]:
print(a,b)

244140625 259007000

10. Check whether __c is not equal to d__.

In [22]:
# run the cell!
c = 12**5
d = 31104 * 8

In [23]:
c != d

False

In [28]:
print(c,d)

248832 248832

We have the following code:

In [24]:
# run the cell!
cf1 = [100, 200]
cf2 = cf1
cf3 = [100, 200]

11. Check whether __cf1 and cf2 are equal__.

In [25]:
cf1 == cf2

True

12. Check whether __cf3 and cf2__ are referencing to the very __same object__!

In [26]:
cf3 is cf2

False

13. Check whether __at least one condition is met__.

In [29]:
# run the cell!
condition_1 = 45754 % 3 == 0 #45754 divisible by 3

In [30]:
# run the cell!
condition_2 = 45754 > 63 * 650 #45754 greater than 63 * 650

In [31]:
condition_1 or condition_2

True

In [36]:
print(condition_1, condition_2)

False True

14. Check whether __both conditions are met__.

In [32]:
# run the cell!
condition_3 = 172578 % 7 == 0 #172578 divisible by 7

In [33]:
# run the cell!
condition_4 = 172578 < 43145 * 4 #172578 less than 43145 * 4

In [34]:
condition_3 and condition_4

True

In [37]:
print(condition_3, condition_4)

True True

15. Does the following Code return __True or False__?

In [35]:
# run the cell to check
not((4 != 3) or not(type(23) == int))

False

# Well Done!

---------------------------------------------------------------------------------------------------------------------

# Solutions (Stop here if you want to code on your own!)

# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

1. __Create and save a tuple__ with the elements 100, 0.03 and 103!

In [ ]:
tup = (100, 0.03, 103)

In [ ]:
tup

2. __Index__ the tuple for the second element (0.03)

In [ ]:
tup[1]

3. Try to __change__ the third element to 106.09. Are tuples __mutable__?

In [ ]:
tup[2] = 106.09

4. Create and save a __dictionary__ with two Country/Capital Pairs of your choice (e.g. France/Paris)

In [ ]:
mapping = {"France":"Paris", "Italy":"Rome"}
mapping

5. __Return__ the Capital for one country of your choice.

In [ ]:
mapping["France"]

6. __Iterate__ over your dictionary and __print__ for each key, value pair the following statement: __"XYZ is the capital of ABC:". Use string replacement!__

In [ ]:
for key, value in mapping.items():
    print("{} is the capital of {}.".format(value, key))

7. __Save__ the following string in memory: "US growth rate eases to 1.9% in the third quarter."

In [ ]:
stat = "US growth rate eases to 1.9% in the third quarter."

In [ ]:
stat

8. __Index__ the string for the second last character.

In [ ]:
stat[-2]

9. Convert the string to __uppercase__. __Reassign__ your variable!

In [ ]:
stat = stat.upper()

In [ ]:
stat

9. Check whether __a is greater than b__.

In [ ]:
# run the cell!
a = 5**12
b = 4564 * 56750

In [ ]:
a > b

In [ ]:
print(a, b)

10. Check whether __c is not equal to d__.

In [ ]:
# run the cell!
c = 12**5
d = 31104 * 8

In [ ]:
c != d

In [ ]:
print(c, d)

We have the following code:

In [ ]:
cf1 = [100, 200]
cf2 = cf1
cf3 = [100, 200]

11. Check whether __cf1 and cf2 are equal__.

In [ ]:
cf1 == cf2

12. Check whether __cf3 and cf2__ are referencing to the very __same object__!

In [ ]:
cf3 is cf2

13. Check whether __at least one condition is met__.

In [ ]:
# run the cell!
condition_1 = 45754 % 3 == 0 #45754 divisible by 3

In [ ]:
# run the cell!
condition_2 = 45754 > 63 * 650 #45754 greater than 63 * 650

In [ ]:
condition_1 or condition_2

In [ ]:
print(condition_1, condition_2)

14. Check whether __both conditions are met__.

In [ ]:
# run the cell!
condition_3 = 172578 % 7 == 0 #172578 divisible by 7

In [ ]:
# run the cell!
condition_4 = 172578 < 43145 * 4 #172578 less than 43145 * 4

In [ ]:
condition_3 and condition_4

In [ ]:
print(condition_3, condition_4)

15. Does the following Code return __True or False__?

In [ ]:
# run the cell to check
not((4 != 3) or not(type(23) == int))